    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">Alpharez</h2>
            <p class="intro">Transform your network infrastructure with AI-driven automation solutions</p>
            
            
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                    
                </ul>
            </div>
        </div>
    </section><!--//promo-->
